name: Base Image

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push gicd-base
        uses: docker/build-push-action@v5
        with:
          context: ./runtime
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            NET_VERSION=10.0
            SOPS_VERSION=3.11.0
          tags: |
            ghcr.io/${{ github.repository_owner }}/gicd-base:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/gicd-base:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
